* {
    font-family:'Courier New', Courier, monospace;
}
nav {
    background-image: url(images/bcgdi.jpg);
    background-size: 100%;
    
}
nav a {
    font-size: 35px;
    color:rgb(255, 255, 255);
    font-family: "Press Start 2P", monospace;
}
