body{
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
header{
    display: flex;
}

.wrapper{
    background: linear-gradient(180deg, #000 0%, #000 100%);
}
* {
    font-family:'Courier New', Courier, monospace;
}
nav {
    background-image: url(images/bcgdi.jpg);
    background-size: 100%;
}
nav a {
    font-size: 35px;
    color:rgb(55, 107, 4);
    background-color: ;
}
