* {
    font-family:'Courier New', Courier, monospace;
}
nav {
<<<<<<< Updated upstream
    margin: 0;
    min-height: 50px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-image: url(images/bg-nav.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
=======
    background-image: url(images/bcgdi.jpg);
    background-size: 100%;

>>>>>>> Stashed changes
}
nav a {
    font-size: 33px;
    color:rgb(0, 0, 0);
    font-family: "Press Start 2P", monospace;
}
